.shortcut {
    height: 46px;
}

.shortcut-dropdown {
    float: left;
    width: 210px;
    height: 46px;
    position: relative;
    z-index: 20;
    /*overflow: hidden;*/
}

.shortcut-dropdown-top a {
    display: inline-block;
    width: 190px;
    height: 44px;
    background: url(../images/img1.jpg) no-repeat;
    padding: 0 10px;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
}

.shortcut-dropdown-bottom {
    height: 466px;
    border-top: 2px solid #B1191A;
    border-left: 1px solid #B1191A;
    background-color: #C81623;
}

.shortcut-item {
    height: 31px;
    color: #fff;
    padding: 0 10px;
}

.shortcut-item:hover {
    background-color: #fff;
}

.shortcut-item:hover a {
    color: #C81623;
}

.shortcut-item h3 {
    float: left;
    font: 400 14px/31px "微软雅黑";
}

.shortcut-item h3 a {
    color: #fff;
}


/*箭头右浮*/

.shortcut-item i {
    float: right;
    font: 400 14px/31px consolas;
}

.shortcut-items {
    float: left;
    width: 680px;
    height: 46px;
    position: relative;
    z-index: 10;
}

.shortcut-items ul li {
    float: left;
}

.shortcut-items a {
    display: block;
    padding: 0 20px;
    font: 400 15px/44px "microsoft yahei";
    color: #333333;
}

.shortcut-items a:hover {
    color: #C81623
}

.shortcut-free {
    float: right;
    width: 140px;
    height: 40px;
    margin: 2px;
}


/*bannerbottom部分*/

.bannerbottom {
    height: 10px;
    background: url(../images/bannerbottom.jpg);
    position: relative;
    margin-top: -10px;
}


/*light部分
*/

.light {
    position: relative;
    z-index: 10;
}

.light a {
    position: absolute;
    width: 100%;
    height: 450px;
    background: url(../images/light.jpg) no-repeat center;
    cursor: default;
}


/*main部分
*/

.main {
    margin-bottom: 10px;
    position: relative;
    z-index: 20;
}


/*.main-slider {
    width: 730px;
    height: 454px;
    margin: 12px 0 0 220px;
    float: left;
    position: relative;
}

.circle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -66px;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: hsla(0, 0%, 100%, .3);
}

.circle .current {
    background-color: #B61B1F;
}

.circle li {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background-color: #3E3E3E;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    margin: 0 2px;
}*/


/*动态切换轮播图部分*/

.main-slider {
    width: 730px;
    height: 454px;
    margin: 12px 0 0 220px;
    float: left;
    position: relative;
    overflow: hidden;
}

.main-slider ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 5110px;
}

.main-slider li {
    width: 730px;
    height: 454px;
    overflow: hidden;
    float: left;
}

.circle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -66px;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: hsla(0, 0%, 100%, .3);
}

.circle li {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background-color: #3E3E3E;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    margin: 0 2px;
}

.circle li.current {
    background-color: #B61B1F;
}


/**/

.arrow a {
    display: block;
    width: 28px;
    height: 62px;
    text-align: center;
    font: 400 22px/62px "simsun";
    color: #fff;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 50%;
    margin-top: -31px;
}

.arrow a:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.arrow-l {
    left: 0;
}

.arrow-r {
    right: 0;
}


/*右侧*/

.main-news {
    width: 248px;
    height: 453px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}

.main-news-faster {
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;
    /*虚线dashed（大使）*/
}

.main-news-faster-title,
.main-news-lifeservice-title {
    height: 43px;
    padding: 0 15px;
    font: 400 16px/43px "microsoft yahei";
    border-bottom: 1px dotted #E4E4E4;
    /*点线dotted*/
}

.main-news-faster-title h3 {
    float: left;
}

.main-news-faster-title a {
    float: right;
    font: 12px/43px "simsun";
}

.main-news-faster-content {
    padding: 15px;
}

.main-news-faster-content li {
    height: 27px;
}

.main-news-faster-content span {
    font-weight: 700;
    margin-right: 5px;
}

.main-news-lifeservice-content {
    overflow: hidden;
}

.main-news-lifeservice-content ul {
    width: 260px;
}

.main-news-lifeservice-content li {
    float: left;
    width: 62px;
    height: 70px;
    border: 1px solid #E4E4E4;
    /*盒子边上两条线合在一起*/
    margin-top: -1px;
    margin-left: -1px;
    border-top: 0;
    position: relative;
}

.main-news-lifeservice-content a {
    display: block;
    height: 20px;
    padding-top: 50px;
    text-align: center;
}

.main-news-lifeservice-content i {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../images/fly.png) no-repeat;
}

.main-news-lifeservice-content .main-icon2 {
    background-position: 0 -25px;
}

.main-news-lifeservice-content .main-icon3 {
    background-position: 0 -50px;
}

.main-news-lifeservice-content .main-icon4 {
    background-position: 0 -75px;
}

.main-news-lifeservice-content .main-icon5 {
    background-position: 0 -100px;
}

.main-news-lifeservice-content .main-icon6 {
    background-position: 0 -125px;
}

.main-news-lifeservice-content .main-icon7 {
    background-position: 0 -150px;
}

.main-news-lifeservice-content .main-icon8 {
    background-position: 0 -175px;
}

.main-news-lifeservice-content .main-icon9 {
    background-position: 0 -200px;
}

.main-news-lifeservice-content .main-icon10 {
    background-position: 0 -225px;
}

.main-news-lifeservice-content .main-icon11 {
    background-position: 0 -250px;
}

.main-news-lifeservice-content .main-icon12 {
    background-position: 0 -275px;
}


/*today部分*/

.today {
    margin-bottom: 10px;
}

.today-l {
    float: left;
    width: 210px;
}

.today-r {
    float: left;
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.today-r ul {
    width: 500%;
}

.today-r li {
    float: left;
    margin-right: 1px;
}